html {
    background-color: #D1B2D1;
}

html{
  font-size: 15px;
  font-family: "Arvo", serif;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #520673;
  text-shadow: 5px 3px 5px white;
  font-family: "Lobster", cursive;
  font-size: 50px;
  text-align: center;
}

p, li {
  font: 16px;
  line-height: 2;
  letter-spacing: 1px
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FAF6AC;
  padding: 20px 50px 150px 50px;
  border: 10px solid white;
}

img {
  width: 300px;
  display: block;
  margin: 0 auto;
}
